<ion-header>
  <ion-toolbar>
    <ion-searchbar id="searchBar" (ionChange)="searchPeople($event)" debounce="1000">
      <ion-button end (click)="openFilter($event)">Filter</ion-button>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item routerLink="/user/{{person.value.request_id}}" *ngFor="let person of filteredList | keyvalue">
        <ion-label>{{person.value.first_name}}  {{person.value.last_name}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
